/* css1 */
.toggle {
        position: relative;
        height: 30px;
        width: 60px;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .toggle::before {
        content: "";
        position: absolute;
        height: 24px;
        width: 24px;
        background: #4070f4;
        border-radius: 50%;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
    }

    .toggle[data-state="activé"]::before {
        background-color: #18191a;
        left: calc(100% - 24px - 4px);
    }

    .toggle-state {
        margin-left: 10px;
        font-weight: bold;
    }




/* css2 */
        .question-frame {
            position: relative;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .error-message {
            color: red;
            font-size: 0.875rem;
            display: none;
        }



/* css2 */
    .question-container {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 15px;
        background-color: #f9f9f9;
    }

    .question-container h5 {
        margin-top: 0;
    }


    /* css3 */
   .question-actions {
    display: flex;
    gap: 10px; /* Espacement entre les icônes */
}

.question-actions .material-icons {
    cursor: pointer;
    font-size: 24px; /* Taille des icônes */
}

.question-actions .edit-icon {
    color: #007bff; /* Couleur pour le bouton d'édition */
}

.question-actions .delete-icon {
    color: #dc3545; /* Couleur pour le bouton de suppression */
}


/* css4 */
.modal-dialog-custom1 {
    display: flex;
    flex-direction: column;
    max-height: 80vh; /* Ajustez la hauteur maximale du modal */
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-body {
    flex: 1;
    overflow: hidden; /* Assure que le contenu du modal ne déborde pas */
}

#questionsContainer {
    max-height: calc(80vh - 150px); /* Ajustez pour tenir compte des boutons */
    overflow-y: auto; /* Permet le défilement des blocs de champs */
}

.modal-footer {
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #dee2e6;
}

/* css5 */
    .disabled-button {
        background-color: grey !important;
        pointer-events: none;
        position: relative;
    }

    .loading::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border: 3px solid white;
        border-top: 3px solid grey;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        transform: translate(-50%, -50%);
    }

    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

