.btn.btn-info.loading {
    background-color: gray;
    pointer-events: none; /* Désactive les clics pour éviter les clics répétés */
}

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 2px;
    display: none; /* Cache le spinner par défaut */
}

.btn.loading .spinner-border {
    display: inline-block; /* Affiche le spinner quand le bouton est en mode "loading" */
}

.btn.loading span.btn-text {
    display: none; /* Cache le texte du bouton quand le bouton est en mode "loading" */
}




  .btn.btn-danger.loading {
    background-color: gray;
    pointer-events: none; /* Désactive les clics pour éviter les clics répétés */
}

.btn.btn-danger.loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

