
.input-group-text {
    cursor: pointer;
}

    .modal-lg {
        max-width: 90%; /* Ajuste la largeur maximale du modal */
        width: 90%; /* Définit la largeur à 90% de l'écran */
    }

    
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
}

h3 {
    color: #007bff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style pour les boutons */
.btn-primary, .btn-info, .btn-success {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-primary:hover, .btn-info:hover, .btn-success:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

/* Table styling */
table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 20px;
}

/* Style pour les liens de retour */
a span {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
}

/* Style des messages */
.alert {
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
}

/* Style pour les formulaires */
.form-control {
    border-radius: 20px;
    padding: 10px;
}

.input-group-text {
    border-radius: 20px;
    background-color: #007bff;
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* S'assure que l'ensemble de la page est centré verticalement */
    flex-direction: column; /* Aligne les éléments verticalement */
}

.main-content h3 {
    margin-bottom: 30px; /* Ajoute de l'espace entre le titre et les boutons */
}

.main-content .btn {
    margin: 10px; /* Ajoute de l'espace entre les boutons */
}

.content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Prend toute la hauteur de l'écran */
        flex-direction: column; /* Pour garder le texte au-dessus des boutons */
        text-align: center; /* Centrer le texte */
    }

    .button-group {
        display: flex;
        justify-content: center;
        gap: 10px; /* Espace entre les boutons */
    }

    /* Ajustement du style des boutons */
    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }
