     /* Styles personnalisés */
      body {
        background-color: #f8f9fa;
      }

      .container {
        max-width: 600px;
        margin-top: 50px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        font-size: 2rem;
        color: #333;
      }

      label.form-label {
        font-weight: bold;
      }

      .actions {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }

      .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
      }

      .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
      }

      hr {
        margin: 20px 0;
      }



      /* Concernant la mofification d'une enquête */

      .form-control {
        width: 400px; /* Modifier la largeur ici */
        height: 40px; /* Modifier la hauteur ici */
        /* Ajoutez d'autres styles personnalisés ici si nécessaire */
    }

    .container {
        margin: 0 auto; /* Pour centrer le conteneur */
        width: 50%; /* Largeur du conteneur */
        border: 2px solid #ccc; /* Bordure autour du conteneur */
        padding: 20px; /* Marge intérieure du conteneur */
    }

    /* Style pour le formulaire à l'intérieur du conteneur */
    form {
        width: 100%; /* Pour occuper toute la largeur du conteneur */
    }