@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e9f0ee, #d8dbe0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    animation: fadeIn 1s ease-in-out;
}

form {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-field {
    position: relative;
    width: 100%;
}

.input-field input,
.input-field textarea {
    width: calc(100% - 40px);
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.input-field input:focus,
.input-field textarea:focus {
    border-color: #6a11cb;
}

.input-field i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6a11cb;
}

textarea {
    resize: none;
    height: 120px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #6a11cb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #2575fc;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    animation: slideDown 0.5s ease-in-out;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
