* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.container {
  background: #fff;
  width: 550px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
}

.container .heading {
  display: flex;
  gap: 20px;
  text-align: center;
}

.container .heading h1 {
  font-weight: 800;
}

.container .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  color: hsl(292, 16%, 49%);
  font-size: 16px;
  letter-spacing: 1px;
}

.container .question img {
  cursor: pointer;
}

.hidden {
  display: none;
}

.container hr {
  border: 1px solid #d3d3d3;
}

.attribution {
  margin-top: 40px;
}

@media (max-width: 565px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 350px;
  }
}
