.content-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} 
.content-container p {
    margin-bottom: 20px;
}
.alert-success {
    margin-bottom: 20px;
}
.highlight {
    background-color: #e0ffe0;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.btn-custom, .btn-primary-custom {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.btn-custom {
    background-color: #4CAF50; /* Green */
}
.btn-custom:hover {
    background-color: #45a049;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
}
.btn-primary-custom {
    background-color: #007bff; /* Blue */
    margin: 10px 5px;
}
.btn-primary-custom:hover {
    background-color: #0056b3;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
}
.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}




/* pageInscription */
                                                              
.password-container {
                  position: relative;
                  width: 100%;
              }

              .password-container input {
                  width: 100%;
                  padding-right: 40px; /* Ajoutez de l'espace pour l'icône */
                  box-sizing: border-box;
              }

              .password-container .show_hide {
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translateY(-50%);
                  cursor: pointer;
              }

              .indicator {
                  display: none;
                  margin-top: 10px;
              }

              .indicator.active {
                  display: block;
              }

              .indicator .icon-text {
                  font-weight: bold;
              }

              .show_hide_confirmation {
              cursor: pointer;
              margin-left: -25px; /* Ajustez selon vos besoins pour le positionnement */
          }


          /* page d'activation de compte par saisi de code  */

          .activation-container {
              max-width: 500px;
              margin: 50px auto;
              padding: 20px;
              border: 1px solid #ddd;
              border-radius: 10px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          }
          .activation-container h1 {
              margin-bottom: 20px;
          }
          .activation-container label {
              font-weight: bold;
          }
          .activation-container input[type="text"] {
              margin-bottom: 15px;
          }
          .activation-container button {
              width: 100%;
          }
          .activation-container p a {
              text-decoration: none;
              color: #007bff;
          }
          .activation-container p a:hover {
              text-decoration: underline;
          }
          .message {
              margin-bottom: 20px;
              padding: 10px;
              background-color: #d4edda;
              color: #155724;
              border: 1px solid #c3e6cb;
              border-radius: 5px;
          }
      