
      /* Styles personnalisés */
      body {
        background-color: #f8f9fa;
      }

      .container {
        max-width: 700px;
        margin-top: 50px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        color: #dc3545;
        font-size: 2rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.1rem;
        color: #555;
      }

      strong {
        color: #000;
      }

      h4 {
        margin-top: 20px;
        color: #333;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
      }

      ul li {
        background-color: #f0f2f5;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .alert-danger {
        margin-top: 20px;
      }

      .btn {
        margin-right: 10px;
      }

      .actions {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
      }
