.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 30%; /* Fixer une largeur uniforme pour les labels */
    min-width: 200px; /* Éviter que les labels deviennent trop petits */
    text-align: right; /* Aligner à droite pour uniformiser les labels */
    padding-right: 20px; /* Ajouter un espace après le label */
    font-weight: bold; /* Rendre les labels plus lisibles */
}

.form-group input,
.form-group select {
    width: 100%; /* Assurer que les champs occupent tout l’espace restant */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Éviter des problèmes de calcul de taille */
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.option-field {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajout d'un espace en haut du bouton pour plus d'aération */
}


