     *, ::before, ::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            padding: 20px;
            font-family: Arial, Helvetica, sans-serif;
            background: #f5f5f5;
        }

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: #fff;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            border-radius: 8px;
        }

        .table-style {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        thead tr {
            background-color: #4CAF50;
            color: #fff;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        h1 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
            text-align: center;
            width: 100%;
        }

        .accueil {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .accueil a {
            color: #4CAF50;
            text-decoration: none;
            font-weight: bold;
        }

        @media screen and (max-width: 550px) {
            h1 {
                font-size: 20px;
            }

            th, td {
                padding: 8px;
                font-size: 12px;
            }
        }


        /* En rapport avec infoEnquette */

    .disabled-button {
        background-color: grey !important;
        pointer-events: none;
        position: relative;
    }

    .loading::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border: 3px solid white;
        border-top: 3px solid grey;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        transform: translate(-50%, -50%);
    }

    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

