body {
        font-family: 'Poppins', sans-serif;
        background-color: #f9f9f9;
        color: #333;
        padding: 20px;
        line-height: 1.6;
    }
    
    .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Fixer une largeur maximale pour éviter l'étirement */
    margin: 0 auto;
}
    
    h3 {
        color: #2c3e50;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    p {
        margin-bottom: 15px;
    }
    
    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
        transition: transform 0.3s ease;
    }
    
    form:hover {
        transform: translateY(-5px);
    }
    
    input[type="text"],
    input[type="date"],
    input[type="email"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
    
    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="email"]:focus,
    textarea:focus,
    select:focus {
        border-color: #3498db;
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
        outline: none;
    }
    
    button[type="submit"] {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
    }
    
    button[type="submit"]:hover {
        background-color: #2980b9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .error-message {
        color: red;
        font-size: 0.875rem;
        display: none;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .success-message {
    color: green;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


input[type="text"],
input[type="date"],
input[type="email"],
textarea,
select,
button[type="submit"] {
    transition: all 0.3s ease-in-out;
}




.btn-return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignement */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, transform 0.3s; /* Animation douce */
}

.btn-return:hover {
    background-color: #0056b3; /* Couleur au survol */
    transform: scale(1.05); /* Agrandissement au survol */
}

.btn-return span {
    font-weight: bold; /* Texte en gras */
}


/* Appliquer à tous les champs pour les rendre de taille uniforme */
input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: calc(100% - 20px); /* Assurez-vous que les champs ont la même largeur */
    max-width: 100%; /* Empêche l'étirement au-delà de la zone du formulaire */
    box-sizing: border-box; /* Inclure le padding dans la taille */
    display: inline-block; /* Pour aligner les éléments côte à côte si nécessaire */
}

.numeric-field {
    display: flex;
    align-items: center; /* Aligne le texte avec le champ */
}

.numeric-field .prefix,
.numeric-field .suffix {
    margin-left: 5px; /* Espacement entre le champ et le texte */
    white-space: nowrap; /* Empêche le retour à la ligne */
}

button[type="submit"] {
    width: 100%; /* Uniformiser la largeur du bouton avec les champs */
}



/* Champ numéro de téléphone avec préfixe à l'intérieur */
.phone-field {
    position: relative;
    width: 100%; /* Assurez-vous que le champ est de la même taille */
    box-sizing: border-box;
}

.phone-field input[type="text"] {
    padding-left: 50px; /* Ajouter de l'espace pour le préfixe à l'intérieur */
}

.phone-field .prefix {
    position: absolute;
    left: 10px; /* Positionner le préfixe à l'intérieur du champ */
    top: 50%;
    transform: translateY(-50%);
    color: #333;

}



